/* font */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');


/* init */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: unset;
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
    display: block;
}

img {
    border: none;
}

li {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
    height: fit-content;
}

/* public */

.element {
    padding-top: 10vh;
    max-width: 1200px;
    margin: 0px 0px;
    padding: 0px 0px;    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
}

.header {
    width: 100%;
    height: 10vh;
}

.modal_bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal_title {
    margin-bottom: 2.5vmin;
}

/* function area */

.function_area {
    font-family: 'Noto Sans TC', sans-serif;
}

.function_area .flex {
    height: 10vh;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;
}

.function_area_left {
    align-items: center;
}

.function_area_left button {
    margin: 1vmin;
}

/* func btn */

.func_btn {
    padding: 3px 8px;
    border-radius: 9999px;
    font-size: 2vmin;
}

.func_btn i {
    padding: 1vmin;
}

.func_btn div {
    padding: 1vmin;
}

.function_area_right {
    padding: 1vmin;
}

.function_area_right a {
    padding: 1vmin;
}

.lang_modal {
    z-index: 1100;
    width: 70vmin;
    height: fit-content;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 3vmin;
}

.lang_group button {
    margin: 1vmin;
}

.select_lang_ch {
    font-size: 3vmin;
}

/* =========== mobile ====================*/

.mobile_menu {
    z-index: 500;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.mobile_menu_group {
    width: 360px;
    height: 90vh;
    height: 100%;
    z-index: 1100;
}

.mobile_menu_item {
    padding: 5%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mobile_menu_item:hover {
    background: rgba(145, 145, 145, 0.3);
}

.mobile_header {
    background: #000;
    width: 100%;
    z-index: 1100;
}

.mobile_header .flex {
    height: 10vh;
    align-items: center;
    z-index: 1100;
}

.mobile_menu_bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 500;
}

/* =========== main page ==================*/

.main_page {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    position: relative;
    height: 85vh;
    flex-direction: column;
    align-items: center;
}

.main_page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: -2%;
    /* border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%; */
}

.main_title {
    align-items: center;
    flex-direction: column;

    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 20vh;
    margin-bottom: 8vh;

}

.main_subtitle {
    max-width: 800px;
    /* margin: 0 auto; */
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5vh;
}

.main_wrap {
    max-width: 960px;
    /* margin: 0 auto; */
    padding: 0 15px;
    text-align: left;
    margin-bottom: 10vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.main_wrap_btn {
    margin: 0.5%;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border-bottom: solid 1px;
    font-size: 18px;
}

.keep_read_btn {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.keep_read_btn a {
    z-index: 10;
    width: 45px;
    height: 45px;

    /* border */
    border: solid;
    text-align: center;
    border-radius: 50%;


    /* text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* ======= body ============== */

.body {
    position: relative;
    height: 200vh;
    padding-top: 10vh; 
}

.body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: -5%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.announce {
    align-items: center;
    justify-content: center;
}

/* ======= footer ============= */

.footer {
    width: 100%;
    height: fit-content;
    padding-top: 12vh;
    position: relative;
    padding-bottom: 15vh;
}

.footer_main {
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}

.footer_group {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

.footer_inf {
    width: fit-content  ;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 10%;
    padding-right: 10%;
}

.footer_inf div {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}
.footer_inf div :hover {
    border-bottom: solid 1px white;
}

.footer_icon_group {
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

.footer_icon_group a {
    margin: 5px;
}

.copyright {
    font-size: 12px;
    width: 100%;
    height: 15vh;
    position: absolute;
    bottom: 0;
    left: 0;
}

.copyright .flex {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}