/* font size */

@media ( min-width : 300px ) and ( max-width : 400px ) {
    .main_subtitle {
        font-size: 15px;
    }
}

/* @media (max-width:480px) {
    .main_subtitle {
        font-size: 13px;
    }
} */

@media (max-width:500px) {
    .main_footer {
        height: 3vh;
    }
}

/* @media (max-width:580px) {
    .main_subtitle {
        font-size: 18px;
    }
} */


/* mobile */
@media (max-width:991px) {
    .main_page {
        margin-top: 10vh;
    }
    
    .function_area {
        display: none;
    }

    .main_wrap {
        display: none;
    }
}

@media (max-width:800px) {
    .footer_main {
        margin-top: 8vh;
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .announce {
        padding-top: 0;
        flex-direction: column;
    }
    .announce img {
        width: 100%;
    }
}

/* pc */
@media (min-width:991px) {

    .mobile_menu {
        display: none;
    }
}