/* mobile */
@media (max-width:991px) {
    .main_page {
        margin-top: 10vh;
    }
    
    .function_area {
        display: none;
    }

    .main_wrap {
        display: none;
    }
}

@media (max-width:800px) {
    .footer_main {
        margin-top: 8vh;
        flex-direction: column;
    }
}

/* pc */
@media (min-width:991px) {

    .mobile_menu {
        display: none;
    }
}