/* modal */
.modal_bg {
    background-color: rgba(0, 0, 0, .5);
}
/* function area */

.function_area {
    background-color: white;
}
.func_btn {
    background-color: rgba(0, 0, 0, .8);
    color: white;
}
.func_btn:hover {    
    background-color: rgba(65, 65, 65, 0.8);
}
.lang_btn {
    background-color: rgba(230, 230, 230, 0.8);
    color: black;
}
.lang_selecting {
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

/* menu */

.mobile_menu {
}

.mobile_menu_group {
    background-color: white;
}

.mobile_header {
    background-color: white;
}

.mobile_menu_bg {
    background-color: rgba(0, 0, 0, .5);
}

/* main page */

.main_page {
    background-color: white;
}